
.username-form{
    margin-left: 5%;
    margin-right: 5%;
}

.username-form-input {
    height: 10vh;
    border-radius: 25px;
    width: 70%;
    box-sizing: border-box;
    text-indent: 5%;
    background-color:rgba(238,238,238,1);
    color: black;
    font-weight: bold;
    border: 3px rgb(141, 137, 137) solid;
}

.username-form-submit{
    height: 10vh;
    margin-left: 5%;
    background-color:rgba(238,238,238,1);
    border: 3px rgb(141, 137, 137) solid;
    color: black;
    font-weight: bold;
    width: 20%;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.input-title {
    height: 10vh;
}